html,body,#box,.item{
    width: 100%;
    height: 100%;
}
.item1_text{
    width: 50%;
    color:#fff;
    height: 40%;
    position: relative;
    margin: 0px auto;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}
.item1_img{
    width: 60%;
    height: 60%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 0px auto;


}
.xianshi{
    position: fixed;
    right: 10px;
    top: 10px;
    width: 128px;
    font-size: 14px;
    font-weight: 900;
    /*background: #ff6700;*/
    padding: 8px;
    /*border: 2px #ff6700 solid;*/
    border-radius: 10px;
    z-index: 9999;
}
.xianshi .title_name{
    height: 42px;
    line-height:42px;
    background: #2e6da4;
    color: #fff;
    text-align: center;

}
.xianshi .title_num{
    height: 32px;
    line-height: 32px;
    background: #fff;
    text-align: center;
}
.item1_imgBox1 img{
    max-width: 100%;
    max-height: 100%;
}
.item1_imgBox2 img{
    max-width: 50%;
    max-height: 50%;
    cursor: pointer;
}
.item1_imgBox2 .beginText{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    justify-content:center;
    display:flex;
    align-items:center;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
}
.item2_ti{
    width: 68%;
    height: 80%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0px 56px;
    background-image: url('../com_imgs/bj.png');
    background-size:100% 100%;
    font-size: 60px;
    font-weight: 900;
    margin: 0px auto;
}

.item2_ans_box{
    display: flex;
    display: -webkit-flex;
    flex-direction:row;
    width: 68%;
    height: 40%;
    margin: 0px auto;
    align-items:center;justify-content:center;
}
.revolve{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 10s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 10s;
    -webkit-animation: rotate 30s linear infinite;
    -moz-animation: rotate 30s linear infinite;
    -o-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite;
}
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}
.item2_fiex{
    flex: 1;
    max-height: 100%;
}
.item2_item{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0px auto;
    border-radius: 100%;
}
.item2_item img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.item2_item div{
    position: absolute;
    width: 150px;
    height: 150px;
    font-weight: 900;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 999;
    cursor: pointer;
    border-radius: 100%;
    color: #fff;
    font-size: 55px;
    padding: 40px;
    text-align: center;

}
.itemImg{
    display:flex;
    align-items:center;
    justify-content:center;
}
.itemImg img{
    max-width:100%;
    max-height:100%;
}

.op{
    opacity: 0.3;
}